## Key Questions to Ask:

1) What causes good ratings?

2) What causes bad ratings?

3) Any correlation between features?

4) Any correlation between features and dishes people like?

In [ ]:
import pandas as pd
data = pd.read_csv('Dataset/zomato-bangalore-restaurants/zomato.csv').iloc[:100,2:]
data.iloc[:5,:]

In [2]:
features = ['online_order','book_table','rate','votes','location','rest_type',
            'approx_cost(for two people)','listed_in(type)','listed_in(city)']
# NL_features = ['dish_liked','cuisines','reviews_list']
data = data[features]
data

,online_order,book_table,rate,votes,location,rest_type,approx_cost(for two people),listed_in(type),listed_in(city)
0,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,800,Buffet,Banashankari
1,Yes,No,4.1/5,787,Banashankari,Casual Dining,800,Buffet,Banashankari
2,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining",800,Buffet,Banashankari
3,No,No,3.7/5,88,Banashankari,Quick Bites,300,Buffet,Banashankari
4,No,No,3.8/5,166,Basavanagudi,Casual Dining,600,Buffet,Banashankari
5,Yes,No,3.8/5,286,Basavanagudi,Casual Dining,600,Buffet,Banashankari
6,No,No,3.6/5,8,Mysore Road,Casual Dining,800,Buffet,Banashankari
7,Yes,Yes,4.6/5,2556,Banashankari,"Casual Dining, Cafe",600,Cafes,Banashankari
8,Yes,No,4.0/5,324,Banashankari,Cafe,700,Cafes,Banashankari
9,Yes,No,4.2/5,504,Banashankari,Cafe,550,Cafes,Banashankari
10,Yes,No,4.1/5,402,Banashankari,Cafe,500,Cafes,Banashankari
11,Yes,Yes,4.2/5,150,Banashankari,Cafe,600,Cafes,Banashankari
12,Yes,Yes,4.2/5,164,Banashankari,Cafe,500,Cafes,Banashankari
13,No,No,4.0/5,424,Banashankari,Cafe,450,Cafes,Banashankari
14,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining",800,Cafes,Banashankari
15,Yes,No,3.8/5,90,Banashankari,Cafe,650,Cafes,Banashankari
16,Yes,No,3.9/5,133,Banashankari,Cafe,800,Cafes,Banashankari
17,Yes,No,3.8/5,144,Banashankari,Cafe,700,Cafes,Banashankari
18,No,No,3.9/5,93,Banashankari,Cafe,300,Cafes,Banashankari
19,Yes,No,3.1/5,13,Banashankari,Cafe,400,Cafes,Banashankari
20,Yes,No,3.0/5,62,Banashankari,Cafe,400,Cafes,Banashankari
21,Yes,No,3.7/5,180,Banashankari,Cafe,500,Cafes,Banashankari
22,No,No,3.6/5,28,Banashankari,Cafe,900,Cafes,Banashankari
23,Yes,No,3.6/5,62,Banashankari,"Quick Bites, Cafe",600,Cafes,Banashankari
24,No,No,3.7/5,31,Banashankari,Cafe,300,Cafes,Banashankari
25,No,No,3.2/5,11,Banashankari,Cafe,600,Cafes,Banashankari
26,Yes,No,3.8/5,75,Banashankari,"Cafe, Quick Bites",200,Cafes,Banashankari
27,No,No,3.3/5,4,Banashankari,Cafe,500,Cafes,Banashankari
28,No,No,3.3/5,23,Banashankari,Cafe,550,Cafes,Banashankari
29,No,No,3.8/5,148,Basavanagudi,"Casual Dining, Cafe",550,Cafes,Banashankari
...,...,...,...,...,...,...,...,...,...
51687,Yes,Yes,4.4 /5,1980,Whitefield,"Microbrewery, Pub","1,700",Pubs and bars,Whitefield
51688,Yes,Yes,4.0 /5,2856,Whitefield,"Casual Dining, Bar","1,100",Pubs and bars,Whitefield
51689,No,Yes,4.1 /5,564,Whitefield,"Casual Dining, Bar","1,000",Pubs and bars,Whitefield
51690,No,Yes,4.2 /5,320,Whitefield,Pub,"1,500",Pubs and bars,Whitefield
51691,No,Yes,4.2 /5,156,Whitefield,"Bar, Casual Dining","1,800",Pubs and bars,Whitefield
51692,Yes,Yes,3.9 /5,578,Whitefield,"Lounge, Bar","1,000",Pubs and bars,Whitefield
51693,Yes,Yes,4.1 /5,137,Whitefield,Bar,"1,200",Pubs and bars,Whitefield
51694,Yes,No,4.1 /5,2773,Whitefield,Pub,"1,500",Pubs and bars,Whitefield
51695,Yes,Yes,4.2 /5,1113,Whitefield,"Pub, Microbrewery","1,600",Pubs and bars,Whitefield
51696,No,Yes,4.3 /5,1776,Whitefield,"Casual Dining, Pub","1,700",Pubs and bars,Whitefield
51697,Yes,Yes,4.4 /5,1313,Whitefield,"Casual Dining, Bar","1,800",Pubs and bars,Whitefield
51698,No,No,3.9 /5,74,Whitefield,"Casual Dining, Bar","1,200",Pubs and bars,Whitefield
51699,Yes,Yes,4.1 /5,1218,Whitefield,Pub,"1,200",Pubs and bars,Whitefield
51700,No,Yes,4.1 /5,1003,Whitefield,"Bar, Casual Dining","1,500",Pubs and bars,Whitefield
51701,Yes,Yes,4.1 /5,673,Whitefield,Pub,"1,400",Pubs and bars,Whitefield
51702,No,No,4.0 /5,1094,Whitefield,Bar,"1,450",Pubs and bars,Whitefield
51703,Yes,Yes,3.9 /5,548,Whitefield,"Pub, Casual Dining","1,500",Pubs and bars,Whitefield
51704,No,Yes,4.0 /5,189,Whitefield,"Casual Dining, Pub","1,500",Pubs and bars,Whitefield
51705,Yes,Yes,3.8 /5,128,Whitefield,"Bar, Casual Dining","1,200",Pubs and bars,Whitefield
51706,No,No,3.7 /5,27,Whitefield,Pub,"1,200",Pubs and bars,Whitefield
51707,No,No,3.9 /5,77,Whitefield,"Fine Dining, Bar","2,000",Pubs and bars,Whitefield
51708,No,No,2.8 /5,161,Whitefield,"Casual Dining, Bar","1,200",Pubs and bars,Whitefield
51709,No,No,3.7 /5,34,Whitefield,"Casual Dining, Bar",800,Pubs and bars,Whitefield
51710,No,No,NaN,0,Whitefield,Bar,900,Pubs and bars,Whitefield
51711,No,No,2.5 /5,81,Whitefield,"Casual Dining, Bar",800,Pubs and bars,Whitefield
51712,No,No,3.6 /5,27,Whitefield,Bar,"1,500",Pubs and bars,Whitefield
51713,No,No,NaN,0,Whitefield,Bar,600,Pubs and bars,Whitefield
51714,No,No,NaN,0,Whitefield,Bar,"2,000",Pubs and bars,Whitefield
51715,No,Yes,4.3 /5,236,"ITPL Main Road, Whitefield",Bar,"2,500",Pubs and bars,Whitefield
51716,No,No,3.4 /5,13,"ITPL Main Road, Whitefield","Bar, Casual Dining","1,500",Pubs and bars,Whitefield

In [3]:
for col in data.columns:
    print(col)
    print(data[col].value_counts())
    print('####')

online_order
Yes    30444
No     21273
Name: online_order, dtype: int64
####
book_table
No     45268
Yes     6449
Name: book_table, dtype: int64
####
rate
NEW       2208
3.9/5     2098
3.8/5     2022
3.7/5     2011
3.9 /5    1874
3.8 /5    1851
3.7 /5    1810
3.6/5     1773
4.0/5     1609
4.0 /5    1574
3.6 /5    1543
4.1/5     1474
4.1 /5    1474
3.5/5     1431
3.5 /5    1353
3.4/5     1259
3.4 /5    1217
3.3/5     1168
4.2 /5    1165
3.3 /5    1142
4.2/5     1019
3.2/5     1006
4.3 /5     917
3.2 /5     867
3.1/5      862
4.3/5      776
3.1 /5     699
4.4 /5     628
3.0/5      558
4.4/5      519
          ...
2.8/5      313
2.8 /5     287
4.5/5      247
4.6 /5     175
2.7/5      170
2.6/5      143
2.7 /5     137
4.6/5      125
2.6 /5     117
4.7 /5      86
4.7/5       81
-           69
2.5 /5      56
2.5/5       45
4.8 /5      43
2.4/5       40
2.4 /5      30
4.9 /5      30
2.3/5       28
4.9/5       25
2.3 /5      23
4.8/5       23
2.2/5       19
2.1 /5      13
2.1/5       11
2.0 /5       7
2.2 /5       7
2.0/5        4
1.8 /5       3
1.8/5        2
Name: rate, Length: 64, dtype: int64
####
votes
0       10027
4        1140
6         992
7         872
9         738
11        701
5         667
8         626
10        621
16        535
12        465
13        465
17        452
14        434
23        408
21        400
18        388
24        373
15        372
22        368
19        361
34        329
25        329
20        302
26        290
33        276
31        275
27        269
32        265
28        259
        ...
2486        1
2518        1
615         1
2662        1
4709        1
2710        1
663         1
2838        1
3174        1
5285        1
3831        1
1255        1
2569        1
2519        1
2679        1
2711        1
2377        1
2871        1
7221        1
1174        1
1302        1
7573        1
1462        1
1991        1
1895        1
1735        1
1590        1
1351        1
3334        1
2353        1
Name: votes, Length: 2328, dtype: int64
####
location
BTM                      5124
HSR                      2523
Koramangala 5th Block    2504
JP Nagar                 2235
Whitefield               2144
Indiranagar              2083
Jayanagar                1926
Marathahalli             1846
Bannerghatta Road        1630
Bellandur                1286
Electronic City          1258
Koramangala 1st Block    1238
Brigade Road             1218
Koramangala 7th Block    1181
Koramangala 6th Block    1156
Sarjapur Road            1065
Ulsoor                   1023
Koramangala 4th Block    1017
MG Road                   918
Banashankari              906
Kalyan Nagar              853
Richmond Road             812
Frazer Town               727
Malleshwaram              725
Basavanagudi              684
Residency Road            675
Banaswadi                 664
Brookefield               658
New BEL Road              649
Kammanahalli              648
                         ...
Hosur Road                102
Kaggadasapura             101
CV Raman Nagar             90
RT Nagar                   80
Vijay Nagar                80
Sanjay Nagar               76
Sadashiv Nagar             63
Sahakara Nagar             53
Koramangala                48
East Bangalore             44
Jalahalli                  38
Magadi Road                34
Rammurthy Nagar            32
Langford Town              27
Sankey Road                27
Mysore Road                22
Old Madras Road            22
Kanakapura Road            19
KR Puram                   18
Uttarahalli                17
North Bangalore            14
Hebbal                     14
Nagarbhavi                  9
Kengeri                     9
Central Bangalore           8
Yelahanka                   6
West Bangalore              6
Jakkur                      3
Rajarajeshwari Nagar        2
Peenya                      1
Name: location, Length: 93, dtype: int64
####
rest_type
Quick Bites                    19132
Casual Dining                  10330
Cafe                            3732
Delivery                        2604
Dessert Parlor                  2263
Takeaway, Delivery              2037
Casual Dining, Bar              1154
Bakery                          1141
Beverage Shop                    867
Bar                              697
Food Court                       624
Sweet Shop                       468
Bar, Casual Dining               425
Lounge                           396
Pub                              357
Fine Dining                      346
Casual Dining, Cafe              319
Beverage Shop, Quick Bites       298
Bakery, Quick Bites              289
Mess                             267
Pub, Casual Dining               255
Sweet Shop, Quick Bites          178
Kiosk                            176
Dessert Parlor, Cafe             175
Cafe, Casual Dining              173
Cafe, Bakery                     164
Cafe, Dessert Parlor             148
Bakery, Dessert Parlor           147
Microbrewery, Casual Dining      132
Casual Dining, Pub               127
                               ...
Casual Dining, Irani Cafee        15
Fine Dining, Lounge               14
Microbrewery, Bar                 13
Bakery, Kiosk                     13
Bar, Cafe                         13
Dessert Parlor, Sweet Shop        12
Casual Dining, Lounge             10
Microbrewery, Lounge               9
Bar, Quick Bites                   9
Casual Dining, Sweet Shop          8
Food Court, Dessert Parlor         8
Bar, Lounge                        6
Bar, Pub                           5
Food Court, Casual Dining          5
Fine Dining, Microbrewery          5
Club, Casual Dining                4
Quick Bites, Meat Shop             4
Quick Bites, Mess                  4
Casual Dining, Quick Bites         4
Mess, Quick Bites                  3
Bakery, Sweet Shop                 3
Bhojanalya                         3
Cafe, Food Court                   2
Dessert Parlor, Food Court         2
Bakery, Food Court                 2
Dessert Parlor, Kiosk              2
Pop Up                             2
Food Court, Beverage Shop          2
Quick Bites, Kiosk                 1
Sweet Shop, Dessert Parlor         1
Name: rest_type, Length: 93, dtype: int64
####
approx_cost(for two people)
300      7576
400      6562
500      4980
200      4857
600      3714
250      2959
800      2285
150      2066
700      1948
350      1763
1,000    1637
450      1417
1,200     993
100       993
1,500     971
650       776
550       761
750       758
900       700
1,300     516
1,100     512
1,400     473
2,000     363
1,600     266
1,700     247
1,800     203
850       166
3,000     162
2,500     146
2,200      78
         ...
3,400      13
2,300      11
80         10
230        10
2,600      10
1,250       9
130         8
50          8
40          8
1,650       6
1,450       5
199         4
330         4
4,100       4
1,050       4
2,700       3
70          3
3,200       2
4,500       2
240         2
190         2
6,000       2
360         2
140         2
60          1
5,000       1
560         1
3,700       1
160         1
469         1
Name: approx_cost(for two people), Length: 70, dtype: int64
####
listed_in(type)
Delivery              25942
Dine-out              17779
Desserts               3593
Cafes                  1723
Drinks & nightlife     1101
Buffet                  882
Pubs and bars           697
Name: listed_in(type), dtype: int64
####
listed_in(city)
BTM                      3279
Koramangala 7th Block    2938
Koramangala 5th Block    2836
Koramangala 4th Block    2779
Koramangala 6th Block    2623
Jayanagar                2371
JP Nagar                 2096
Indiranagar              1860
Church Street            1827
MG Road                  1811
Brigade Road             1769
Lavelle Road             1744
HSR                      1741
Marathahalli             1659
Residency Road           1620
Whitefield               1620
Bannerghatta Road        1617
Brookefield              1518
Old Airport Road         1425
Kammanahalli             1329
Kalyan Nagar             1309
Basavanagudi             1266
Sarjapur Road            1261
Electronic City          1229
Bellandur                1227
Frazer Town              1185
Malleshwaram             1096
Rajajinagar              1079
Banashankari              863
New BEL Road              740
Name: listed_in(city), dtype: int64
####

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
from pandas.plotting import scatter_matrix
_ = scatter_matrix

In [19]:
reviews = data['reviews_list'][0][2:-2].split('), (')
reviews[0].split(',')

["'Rated 4.0'",
 " 'RATED\\n  A beautiful place to dine in.The interiors take you back to the Mughal era. The lightings are just perfect.We went there on the occasion of Christmas and so they had only limited items available. But the taste and service was not compromised at all.The only complaint is that the breads could have been better.Would surely like to come here again.'"]

In [3]:
del data
data

NameError: name 'data' is not defined